#header ul {
    position: absolute;
    left: 0px;
    top: 50px;
    margin: 0px;
    padding: 0px;
    background: #f0f3ff;
}

#header li {
    list-style: none;
    display: inline;
}

#header ul li a {
    height: 20px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    border-left: #999999 1px solid;
    border-right: #999999 1px solid;
    border-top: #999999 1px solid;
    border-bottom: #999999 1px solid;
    color: #333333;
    text-decoration: none;
    font-size: 14px;
}

#header ul li a:hover {
    color: #333333;
    background-color: #97bfff;
}

#header ul li a:visited {
    color: #000000;
    background-color: #ff9900;
}

body {
    background-color: #ffe982;
}


table {
    border-collapse: collapse;
    background-color: azure;
}
th {
    height: 50px;
    width: 100px;
    background-color: aquamarine;
}
td {


}
th, td {
    padding: 10px;
    text-align: left;

}
tabel, th, td {
    border: 1px solid black;
}

