/*Navigation coding*/
#header li a {
    display: block;
    color: #2c292d;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black
}
#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 221, 5, 0.22);

}
#header li {
    float: left;
}
#header ul li a:hover {
    color: #161616;
    background-color: #feff49;
}

/*body coding*/
body {
    background-color: aliceblue;
}
h1 {
    font-style: oblique;
    background: rgba(253, 255, 83, 0.6);
    border: 1px solid black;
    width: 1035px;
}

/*table coding*/

table {

    background-color: #fcff9b;
}
th {
    height: 35px;
    width: 75px;
    background-color: #ffda36;
    border: 1px solid black;
}
td {
    border-collapse: collapse;

}
th, td {
    padding: 10px;
    text-align: left;

}
tr:nth-child(even){
    background-color: #f2f2f2;
}

/*Form coding*/

input {
    width: 97%;
    margin: 5px;
    padding: 8px 10px;
    background-color: #fef9ff;
}
select {
    margin: 5px;
    padding: 8px 10px;
}
#agreement {
    left: 0px;
}
/*Cannot move check box to left side, possible box problem?*/
#checkbox {

}

/*Boxes*/
#box {
    width: 75%;
    padding: 15px;
    margin: 5px;
    border: 1px solid black;
    float: left;
    background-color: rgba(253, 255, 83, 0.52);
    font-family: "Baskerville Old Face";

}
#box2 {
    width: 900px;
    height: 350px;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    text-align: justify;
    float: left;
    background-color: rgba(253, 255, 83, 0.51);
}
#box3 {
    background-color: azure;
    position: absolute;
    float: left;
    border: 1px solid black;
}
img {
    float: right;
    width: 450px;
    height: 420px;
    border: 1px solid black;
}

/*Fotter*/
footer {
    float: left;
}