/*Navigation codiing*/
#header ul {
    position: absolute;
    left: 0px;
    top: 50px;
    margin: 0px;
    padding: 0px;
    background: #f0f3ff;
}

#header li {
    list-style: none;
    display: inline;
}

#header ul li a {
    height: 20px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    border-left: #999999 1px solid;
    border-right: #999999 1px solid;
    border-top: #999999 1px solid;
    border-bottom: #999999 1px solid;
    color: #333333;
    text-decoration: none;
    font-size: 14px;
}

#header ul li a:hover {
    color: #333333;
    background-color: #97bfff;
}

#header ul li a:visited {
    color: #000000;
    background-color: #ff9900;
}

/*body coding*/

body {
    background-color: #ffffff;
}


/*table coding*/

table {

    background-color: azure;
}
th {
    height: 35px;
    width: 75px;
    background-color: aquamarine;
    border: 1px solid black;
}
td {
    border-collapse: collapse;

}
th, td {
    padding: 10px;
    text-align: left;

}
tr:nth-child(even){
    background-color: #f2f2f2;
}

/*Form coding*/

input {
    width: 97%;
    margin: 5px;
    padding: 8px 10px;
    background-color: lightgray;
}
select {
    margin: 5px;
    padding: 8px 10px;
}
#agreement {
    left: 0px;
}

/*Boxes*/
#box {
    width: 75%;
    padding: 15px;
    margin: 5px;
    border: 1px solid black;

}
#box2 {
    width: 75%;
    padding: 15px;
    margin: 5px;
    border: 1px solid black;
    text-align: justify;
}